body {
    font-family: Arial, sans-serif;
    background-color: #db8282;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #ff3333;
    text-align: center;
    padding: 5%; /* Adjusted padding as a percentage */
    border: 5px solid #333;
    border-radius: 10px;
    width: 90%; /* Adjusted width as a percentage */
    margin-bottom: 5%; /* Adjusted margin as a percentage */
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 36px;
}

.subheadings {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    padding: 5%; /* Adjusted padding as a percentage */
}

.subheading {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5%; /* Adjusted padding as a percentage */
    width: 90%; /* Adjusted width as a percentage */
    margin: 2%; /* Adjusted margin as a percentage */
    border: 5px solid white;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    background-color: #ffffff;
    color: #2c3e50;
    padding: 5%; /* Adjusted padding as a percentage */
    margin: 2%; /* Adjusted margin as a percentage */
    border: 5px solid #333;
    border-radius: 10px;
}

h2, h3 {
    color: #2c3e50;
    margin: 2%; /* Adjusted margin as a percentage */
    border-bottom: 5px solid #333;
    padding-bottom: 2%; /* Adjusted padding as a percentage */
}
