body {
    font-family: Arial, sans-serif;
    background-color: #db8282;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff3333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 36px;
}

.subheadings {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.subheading {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 45%;
    margin: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    background-color: #ffffff; 
    color: #2c3e50; 
    padding: 10px; 
  }
  
  h2, h3 {
    color: #ad4444; /* Dark maroon color */
 
  }
