body {
    font-family: Arial, sans-serif;
    background-color: #db8282;
    margin: 5px; /* Small margin */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #ff3333;
    text-align: center;
    padding: 20px;
    border: 5px solid #333; /* Thick border */
    border-radius: 10px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 36px;
}

.subheadings {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.subheading {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px; /* Increased padding */
    width: 45%;
    margin: 5px; /* Very small margin */
    border: 5px solid white; /* Thick border */
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    background-color: #ffffff;
    color: #2c3e50;
    padding: 20px; /* Increased padding */
    margin: 5px; /* Very small margin */
    border: 5px solid #333; /* Thick border */
    border-radius: 10px;
}

h2, h3 {
    color: #2c3e50;
    margin: 5px; /* Very small margin */
    border-bottom: 5px solid #333; /* Thick border */
    padding-bottom: 5px; /* Padding for space between heading and content */
}
